.App {
  max-width: 500px;
  margin: 0 auto;
  padding-top: 2rem;
}

.intents {
  text-align: center;
  font-size: 1.15rem;
}

.hidden-word {
  margin-left: 1rem;
  font-size: 2rem;
  letter-spacing: 1rem;
  text-align: center;
}

.letters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 350px;
  margin: 0 auto;
  padding: 0 0.5rem;
}

.letter {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: rgb(21, 166, 223);
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0.3rem;
  border-radius: 0.4rem;
  border-bottom: 0.3rem solid rgb(21, 111, 172);
  user-select: none;
}
.letter.active {
  transform: translateY(0.1rem);
  background-color: rgb(27, 99, 158);
  border-bottom: 0.2rem solid rgb(6, 59, 94);
  color: rgba(255, 255, 255, 0.705);
}
.letter:not(.active):hover {
  background-color: rgb(47, 140, 202);
  border-bottom: 0.2rem solid rgb(15, 96, 150);
}

.game-over {
  text-align: center;
  font-size: 1.3rem;
}

.reset {
  display: block;
  margin: 0 auto;
  margin-top: 1.5rem;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 0.3rem;
  font-size: 1.1rem;
  color: white;
  user-select: none;
  background-color: rgb(201, 38, 60);
  border-bottom: 0.3rem solid rgb(151, 8, 27);
}
.reset:active {
  transform: translateY(0.1rem);
}
.reset:hover {
  background-color: rgb(180, 30, 50);
  border-bottom: 0.3rem solid rgb(151, 8, 27);
}
