@import url("https://fonts.googleapis.com/css2?family=Mali:wght@500&display=swap");
body {
  background-color: #f2f2f2;
  min-height: 100vh;
  background-image: url("assets/images/cuaderno-rayado-blanco-papel-blanco-linea-patron-papel-cuadriculado-proceso-diseno-grafico-trabajo_109660-31.webp");
  background-position: center;
}
.App {
  font-family: "Mali", cursive;
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem 1rem;
  min-height: 100vh;
  user-select: none;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.header svg {
  display: inline-block;
  transform: translateY(5px);
  height: 1.5rem;
}

.intents {
  text-align: center;
  font-size: 1.15rem;
  margin-top: 1rem;
}

.hidden-word {
  margin: 0 0 1rem 1rem;
  font-size: 2rem;
  letter-spacing: 1rem;
  text-align: center;
  user-select: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.letters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 350px;
  margin: 0 auto;
  padding: 0 0.3rem;
}

.letters .letter {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: rgb(21, 166, 223);
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0.3rem;
  border-radius: 0.4rem;
  border-bottom: 0.3rem solid rgb(21, 111, 172);
  user-select: none;
}
.letter.active {
  transform: translateY(0.1rem);
  background-color: rgb(27, 99, 158);
  border-bottom: 0.2rem solid rgb(6, 59, 94);
  color: rgba(255, 255, 255, 0.705);
}
.letter:not(.active):hover {
  background-color: rgb(47, 140, 202);
  border-bottom: 0.2rem solid rgb(15, 96, 150);
}

.game-over {
  text-align: center;
  font-size: 1.3rem;
}

[class^="button-"] {
  display: block;
  margin: 0 auto;
  margin-top: 1.5rem;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 0.3rem;
  font-size: 1.1rem;
  color: white;
  user-select: none;
  font-family: "Mali", cursive;
}
[class^="button-"]:active {
  transform: translateY(0.1rem);
}
.button-continue {
  background-color: rgb(20, 177, 104);
  border-bottom: 0.3rem solid rgb(11, 126, 72);
}
.button-continue:hover {
  background-color: rgb(15, 153, 89);
  border-bottom: 0.3rem solid rgb(11, 129, 74);
}

.button-reset {
  background-color: rgb(201, 38, 60);
  border-bottom: 0.3rem solid rgb(151, 8, 27);
}
.button-reset:hover {
  background-color: rgb(180, 30, 50);
  border-bottom: 0.3rem solid rgb(151, 8, 27);
}

svg {
  display: block;
  margin: 0 auto;
}
